body{
	background: #232323;
	margin: 0;
}

h1{
	line-height: 1.1;
	text-align: center;
	font-weight: normal;
	color: white;
	background: steelblue;
	margin: 0;
	font-family: 'Montserrat', 'Avenir';
	text-transform: uppercase;
	padding: 20px 0;
}

button{
	font-family: 'Montserrat', 'Avenir';
	text-transform: uppercase;;
	letter-spacing: 1px;
	font-size: inherit;
	height: 100%;
	border:none;
	background: none;
	font-weight: 700;
	color: steelblue;
	transition: all 0.3s;
	outline: none;
}

button:hover,.selected{
	color: white;
	background: steelblue;
}

#message{
	display: inline-block;
	width: 20%;
}
#colorDisplay{
	font-size: 200%;
}

#stripe{
	text-align: center;
	background: white;
	height: 30px;
	color: black;
}

.square{
	background: purple;
	padding-bottom: 30%;
	width: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition:all 0.6s;
	-moz-transition:all 0.6s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}


